body,
html {
    background-color: #150e1b;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    color: #e23e57;
}


/***************************************************** Class Selector ***********************************************************/


.bg-image {
    /* Full height */
    height: 80%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-avatar {
    height: 20%;
    width: 10%;
}

.bg-image-100 {
    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images used */
.img1 {
    background-image: url("homeImgs/hillLandscape.jpg");
}

.img2 {
    background-image: url("homeImgs/heritageLandscape.jpeg");
}

.img3 {
    background-image: url("homeImgs/sunrise.jpeg");
}

.img4 {
    background-image: url("homeImgs/landscape1.jpg");
}

.img5 {
    background-image: url("homeImgs/landscape2.jpg");
}

.img6 {
    background-image: url("homeImgs/landscape3.jpg");
}

.img7 {
    background-image: url("homeImgs/landscape4.jpeg");
}

.img8 {
    background-image: url("homeImgs/landscape5.jpeg");
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.507);
    /* Black w/opacity/see-through */
    color: whitesmoke;
    font-weight: bold;
    font-size: 300%;
    border: 10px solid #200101;
    border-radius: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
}

.bg-text-small {
    background-color: rgba(0, 0, 0, 0.507);
    /* Black w/opacity/see-through */
    color: rgba(245, 245, 245, 0.794);
    font-weight: bold;
    border: 10px solid rgba(0, 0, 0, 0.726);
    margin-top: 20%;
}



/******************************************************* Home Badges ***************************************************************/


.inlineBox1 {
    height: 300px;
    width: 400px;
    border: 20px solid black;
    border-radius: 20%;
    margin: 2%;
    background-color: whitesmoke;
    background-image: url("/images/equips.jpeg");
}

.inlineBox1:hover {
    height: 300px;
    width: 400px;
    border: 20px solid black;
    border-radius: 20%;
    margin: 2%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 30% 0;
    background-size: cover;
}

.inlineBox2 {
    height: 300px;
    width: 400px;
    border: 20px solid black;
    border-radius: 20%;
    margin: 2%;
    background-color: whitesmoke;
    background-image: url("/images/collage.jpg");
}

.inlineBox2:hover {
    height: 300px;
    width: 400px;
    border: 20px solid black;
    border-radius: 20%;
    margin: 2%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 30% 0;
    background-size: cover;
}

.inlineBox3 {
    height: 300px;
    width: 400px;
    border: 20px solid black;
    border-radius: 20%;
    margin: 2%;
    background-color: whitesmoke;
    background-image: url("/images/contact1.jpeg");
}

.inlineBox3:hover {
    height: 300px;
    width: 400px;
    border: 20px solid black;
    border-radius: 20%;
    margin: 2%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 30% 0;
    background-size: cover;
}


/********************************************************** Scroll Animation ***********************************************************/


.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 3%;
    height: 10%;
    margin-left: -4px;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.705);
    margin-top: 5%;
    box-shadow: inset 0 0 0 1px  #150e1b;
    border: solid  whitesmoke;
    border-radius: 25px;
    transform: translate(-50%, -70%);
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    transform: translate(-50%, -70%);
    position: fixed;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(500%);
    }

}