body,
html {
    background-color: #150e1b;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


h1 {
    color: #e23e57;
    font-size: 500%;
    font-family: 'Montez', cursive;
}

h2 {
    color: #000000;
    font-size: 300%;
    font-family: 'Montez', cursive;
}

h3 {
    color: #ffb6b9;
}

h4,
ol {
    color: #a89199;
}

.container {
    position: relative;
    width: 40%;
    height: 50%;
    display: inline-block;
    padding: 2%;
    margin: 2%;
}

.image {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10%;
    border: solid 0.5rem;
    border-color: #490022;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #a89199;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
    cursor: pointer;
    border-radius: 5%;
    border: solid 0.1rem;
    border-color: #000000;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
    border: solid 0.5rem;
    border-color: #000000;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}