/******************************************* TAG SELECTORS **********************************************************/

body {
    background-color: #150e1b;
}

h1,
h2,
h3,
h4 {
    color: #e23e57;
}

p {
    color: #a06a7c;
}

hr {
    border-color: rgb(144, 130, 103);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 50%;
}

label {
    color: #cca8e9;
}

thead {
    color: #cca8e9;
}

tbody {
    color: #a06a7c;
}

table {
    border-color: #55062b;
    border-style: none;
    border-width: 5px;
    width: 100%;
}

body,
html {
    height: 100%;
    margin: 0;
    margin-top: -0.8%;
}

/******************************************* CLASS SELECTORS **********************************************************/

.top {
    /* The image used */
    background-image: url("/images/hillLandscape.jpg");
    background-color: white;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}