.nav,
.menu {
    display: inline-flex;
    justify-content: left;
    align-items: center;
    position: relative;
}

.nav {
    position: relative;
    background-color: #111;
    padding: 1.8vw;
    transition: 0.5s;
    border-radius: 5vw;
    overflow: visible;
    box-shadow: 0 2.5vw 2.5vw rgba(0, 0, 0, .2);
    opacity: 0.8;
}

.nav:hover {
    opacity: 1;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked~.menu {
    width: 40vw;
}

.menu li {
    list-style: none;
    margin: 0 1vw;
}

.menu li a {
    text-decoration: none;
    color: rgb(126, 122, 122);
    text-transform: uppercase;
    font-size: 1.2vw;
    transition: 0.5s;
}

.menu li a:hover {
    color: #ffffff;
}

#active {
    color: #ffffff;
}

.nav input {
    width: 2.8vw;
    height: 2.8vw;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 2.2vw;
    width: 1.9vw;
    height: 0.3vw;
    border-radius: 4vw;
    background-color: #cecdcd;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked~span {
    background-color: red;
}

.nav span:nth-child(2) {
    transform: translateY(-0.4vw);
}

.nav input:checked~span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.nav span:nth-child(3) {
    transform: translateY(0.4vw);
}

.nav input:checked~span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}
/* 
@media only screen and (max-device-width: 600px) {

    .menu li {
        padding-top: -4vw, -4vw;
    }
} */