body,
html {
    height: 50vw;
    margin: 0;
    color: rgb(70, 70, 70);
    font-family: 'Merienda', cursive;
}

h3 {
    letter-spacing: 2vw;
    text-transform: uppercase;
    color: #111;
}

a {
    text-decoration: none;
}

/*************************************************** BackGround *****************************************************************/

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("homeImgs/landscape1.jpg");
    min-height: 20vw;
}

.bgimg-2 {
    background-image: url("homeImgs/landscape2.jpg");
    min-height: 20vw;
}

.bgimg-3 {
    background-image: url("homeImgs/landscape3.jpg");
    min-height: 20vw;
}

.bgimg-4 {
    background-image: url("homeImgs/landscape4.jpg");
    min-height: 50vw;
}

.bgimg-5 {
    background-image: url("homeImgs/landscape5.jpg");
    min-height: 20vw;
}

.caption {
    position: absolute;
    left: 0;
    top: 20vw;
    width: 98vw;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: rgba(17, 17, 17, 0.76);
    color: #fff;
    padding: 1.2vw;
    font-size: 1vw;
    letter-spacing: 2vw;
}

.caption-box {
    text-align: center;
    color: #000;
}

.know-box {
    padding: 20vw;
    text-align: center;
    color: #000;
}

.know-box span.more {
    background-color: rgba(0, 0, 0, 0.712);
    color: #fff;
    padding: 1vw;
    font-size: 1vw;
    letter-spacing: 1vw;
    border: solid whitesmoke;
    border-radius: 1.5vw;
    text-align: center;
    text-align: justify;
    cursor: pointer;
    transition: letter-spacing 1s, background-color 1.5s;
}

.know-box span.more:hover {
    background-color: rgb(0, 0, 0);
    font-size: 1vw;
    letter-spacing: 2vw;
    border: solid whitesmoke;
    border-radius: 1.5vw;
}

.topic-box {
    color: #ddd;
    background-color: #000;
    text-align: center;
    padding: 1.5vw;
    text-align: justify;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
}

.icon-scroll {
    left: 50vw;
    width: 3vw;
    height: 5vw;
    top: 42vw;
    border: solid whitesmoke;
    border-radius: 3vw;
    transform: translate(-50%, -20%);
}

.icon-scroll:before {
    left: 1.1vw;
    content: ' ';
    width: 0.5vw;
    height: 0.5vw;
    background: #fff;
    top: 1vw;
    border-radius: 3vw;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
    transform: translate(-50%, -20%);
    position: fixed;
}


@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(500%);
    }

}

/*************************************************** BackGround *****************************************************************/



.avatar {
    height: 5vw;
    width: 5vw;
    border-radius: 50vw;
    background-position: center;
    background-size: cover;
    background-image: url("homeImgs/MyAR.png");
    position: fixed;
    top: 1vw;
    left: 92vw;
    background-size: cover;
    opacity: 1;
}

.social_icon {
    width: 20vw;
    color: white;
    position: absolute;
    top: 20vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

.social_button {
    color: wheat;
    padding: 1vw;
}

.social_button:hover {
    color: #fff;
}

.footer {
    color: wheat;
    position: absolute;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    top: 47vw;
    left: 50vw;
    transform: translate(-50%, -100%);
    text-align: center;
}

/*************************************************** Cell phone Changes **************************************************/


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

    body,
    html {
        height: 100vw;
        font-weight: 600;
    }

    .bgimg-1,
    .bgimg-2,
    .bgimg-3,
    .bgimg-5 {
        min-height: 80vw;
    }

    .bgimg-4 {
        min-height: 130vw;
    }

    .footer {
        top: 120vw;
        font-size: 2vw;
    }

    .icon-scroll,
    .icon-scroll:before {
        visibility: hidden;
    }

    .caption {
        top: 50vw;
    }

    .caption span.border {
        font-size: 3vw;
        letter-spacing: 3vw;
    }

    .know-box span.more {
        font-size: 2.5vw;
        letter-spacing: 2vw;
    }

    .know-box {
        padding-top: 35vw;
    }

    .social_button {
        margin-top: 5vw;
        padding-top: 5vw;
    }

    .avatar {
        height: 8vw;
        width: 8vw;
        left: 88vw;
    }
}